@model Zadanie1.Models.Calculation

@{
    ViewBag.Title = "Kalkulator";
}

<h2>Kalkulator Dodawania</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    <div>
        @Html.LabelFor(m => m.Number1)
        @Html.TextBoxFor(m => m.Number1)
        @Html.ValidationMessageFor(m => m.Number1)
    </div>

    <div>
        @Html.LabelFor(m => m.Number2)
        @Html.TextBoxFor(m => m.Number2)
        @Html.ValidationMessageFor(m => m.Number2)
    </div>

    <div>
        <input type="submit" value="Dodaj" />
    </div>
}

@if (Model.Result != 0)
{
    <h3>Wynik: @Model.Result</h3>
}
